<div class="container">
  <div [hidden]="userAdded">
    <h3 style="margin-top: 30px;">New User Information <span style="font-size:small">* is a required field</span></h3>

    <form (ngSubmit)="onSubmit()">

      <mat-grid-list cols="4" rowHeight="60px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field>
            <input  id="firstName" type="text" required matInput [(ngModel)]="newUser.firstName" name="firstName" placeholder="firstName">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="4" rowHeight="60px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field>
            <input  id="lastName" type="text" required matInput [(ngModel)]="newUser.lastName" name="lastName" placeholder="lastName">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="4" rowHeight="60px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field>
            <input  id="email" type="text" required matInput [(ngModel)]="newUser.email" name="title" placeholder="email">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="4" rowHeight="60px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field>
            <input  id="phone" type="text" required matInput [(ngModel)]="newUser.phone" name="phone" placeholder="phone">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="4" rowHeight="60px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field>
            <input  id="username" type="text" required matInput [(ngModel)]="newUser.username" name="username" placeholder="username">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="4" rowHeight="60px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field>
            <input  id="password" type="text" required matInput [(ngModel)]="newUser.password" name="password" placeholder="password">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>


      <mat-grid-list cols="20" rowHeight="60px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <button class="mat-primary" mat-raised-button type="submit">Add User</button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <a class="mat-warn" mat-raised-button routerLink="/">Cancel</a>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>
  <div class="row" [hidden]="!userAdded">
    <h3>User added successfully!</h3>
  </div>
</div>
